.hd
{
    background-color: blue;
    color: black;
    width: fit-content;
    padding: 20px;
    margin: 20px;

}
.btn 
{
    background-color: red;
    font-family: 'Courier New', Courier, monospace;
    margin: 20px;
    padding: 20px;
    

}