* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html, body {
  height: 100%;
  width: 100%;
}

.box
{
    background-color: brown;
    width:100vh;
    height: 100vh;
}
.page1
{
    height: 100vh;
    width: 100%;
  background-color: gray;
}


.page2
{
    height: 100vh;
    width: 100%;
  background-color: brown;
}

.page3
{
    height: 100vh;
    width: 100%;
  background-color:chartreuse
}